body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.navigation-bar, ul {
  background-color: black;
  display: inline-flex;
  padding: 20px;
  justify-content: flex-end;
  ul {
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.button-transparent {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  height: 100%;
  padding: 50px;
}

.calendar {
  background-color: black;
  display: flex;
  align-items: start;
  justify-items: flex-start;
  align-content: start;
  justify-content: flex-start;
}

.events {
  font-size:large;
  font-weight:lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}